
.image_product{
	display: flex;
	width: 80vmin;
	height: 80vmin;
	float: left;
}
.image{
	background-size: cover;
	background-position: center;
	border: 1px solid #ccc;
}

.left-column {
	width: 20%;
	height: 90%;
	float: left;
}

.small-image {
	width: 100%;
	height: 25%;
	margin-bottom: 3%;
	cursor: pointer;
	transition: all .2s linear;
	background-size: cover;
}
.small-image:hover,.active{
	border-color: #666;
}

.right-column {
	width: 80%;
	height: 100%;
	padding: 0 1%;
	float: left;
}
.image-preview {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	border: 1px solid #ccc;
	cursor: zoom-in;
	transition: all .1s linear;
}
.image-preview:hover{
	background-size: 200vmin auto;
}
.info_product{
	padding: 12px 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 42%;
	float: left;
	position: absolute;
	right: 45px;
/*	background: pink;*/
}
.product_name{
	font-size: 28px;
}
.product_price{
	font: inherit;
	color: rgb(17, 17, 17);
	font-size: 18px;
	margin-top: 15px;
}
.description{
	margin-top: 55px;
	font-weight: 600;
	font-size: 20px;
}
